/* Root Variables */
:root {
    --font1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font2: 'Courier New', Courier, monospace;

    /* Colors */
    --white: #ffffff; 
    --black: #000000;
    --yellow: #ffc107; /* Safety Yellow */
    --orange: #ff6f00; /* Construction Orange */
    --gray: #333333; /* Asphalt */
    --blue: #4682b4; /* Steel */
    --dark-gray: #222222; /* Darker background */
}

.project-box {
    border: 1px solid var(--white);
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    background-color: var(--dark-gray);
    color: var(--white);
    width: 275px;
}

.project-box h3 {
    font-family: var(--font1);
    color: var(--yellow);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.project-box p {
    font-family: var(--font2);
    color: var(--white);
    text-align: center;
}